body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2D5461;
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;;
}

.cta-container {
  margin: 1rem auto;
  padding: 0 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.cta {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  justify-content: center;
  align-items: space-around;
  box-shadow: gray 3px 3px 8px;
  background-color: #C0FABE;
  margin: 1rem;
}

.cta img {
  max-width: 300px;
}

.cta a{
  text-decoration: none;
  color: #2D5461;
}

a.link-2{
  color:#3A612D
}

a.link-2:visited{
  color: #D2F0FA;
}
a.link-2:hover, a.link-2:focus, a.link-2:active{
  text-shadow: 2px 2px 5px grey;
}

.impact{
  text-align: center;
  font-weight: bold;
}

p.storybook::first-letter{
  font-size: 200%;
}

.submit-button {
  border-radius: .5rem;
  background: #3A612D;
  color: white;
}

.highlight-background {
  background-color: #D2F0FA;
}

footer {
  background-color: #D2F0FA;
  padding: 1rem;
}